/* General */
*{
  margin: 0;
}

/* Header */
header{
  height: 175px;
  background-color: #4EA0FF;
  background-image: url("../img/pattern.png");
}

header img{
  width: 250px;
  padding-top: 100px;
  padding-left: 10px;
}

/* Main */
main{
  padding-left: 10px;
}

main section{
  padding-top: 10px;
}

section h1{
  font-size: 40px;
  padding-top: 15px;
}

.under-text{
  color: #777777;
}

.small-text{
  font-size: 14px;
}

#publisher{
  color: #51BBEA;
}

div img{
  width: 48%;
}